@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');

body{
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to top right,#0091ff, #00ff9d);
    background-repeat: no-repeat;
    font-family: 'Readex Pro', sans-serif;
    background-attachment: fixed;
}

.containerPrincipal{
    border-radius: 10px;
    margin: auto;
    margin-top: 90px;
    width: 400px;
    background-color: #383b42;  
    height: auto;
}

.headerContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    align-items: center;
}
.bodyContainer{
    padding: 10px;
}
#inputNovaTarefa{
    width: 80%;
    padding: 3px;
    background-color:#464A53;
    border: none;
    outline: none;
    font-family: 'Readex Pro', sans-serif;
    border-radius: 8px;
    height: 25px;
    padding-left: 5px;
    text-transform: uppercase;
    color: #FFF;
}
.line{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 7px 10px;
}

.line select {
    width: 100px;
    text-align: right;
    padding: 3px;
    background-color:#464A53;
    border: none;
    outline: none;
    font-family: 'Readex Pro', sans-serif;
    font-size: 14px;
    border-radius: 8px;
    color: #FFF;
}

.line input[type="date"]{
    width: 120px;
    text-align: right;
    padding: 3px;
    background-color:#464A53;
    border: none;
    outline: none;
    font-family: 'Readex Pro', sans-serif;
    border-radius: 8px;
    font-size: 14px;
    color: #FFF;
}

.line span{
    color: #FFF
}

.line textarea{
    width: 100%;
    height: 100px;
    resize: none;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 14px;
    font-family: "Readex Pro", sans-serif;
    outline: none;
    border-radius: 10px;
    background-color: #464A53;
    text-transform: uppercase;
    color: #FFF;
}

#addTaskContainer{
    display: none;
    flex-direction: column;
    margin: auto;
    width: 100%;
    background-color: #383b42;  
    border-radius: 10px;
}

#addTaskContainer.abrir{
    display: flex;
    flex-direction: column;
}

#addTaskContainer button{
    background: transparent;
    border: none;
    outline: none;
}
#btnAdicionarTarefa i{
    color: #FFF;
    font-size: 18px;
}

.containerTarefa{
    padding: 10px;
}

#newTask{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: #FFF;
    margin-left: 10px;
}

#newTask i{
    color: #FFF;
}

#newTask:hover
#newTask i:hover{
    color: #cecece;
    cursor: pointer;
}


#listaTarefas{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 10px;
}

#listaTarefas li{
    list-style: none;
    font-size: 18px;
    font-family: "Readex Pro", sans-serif;
    margin-top: 10px;
    color: #FFF;
}



.textTask{
    margin-top: 10px;
}

.flexRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#btnSalvar{
    display: none;
}
#btnSalvar i{
    color: #00ff9d;
    font-size: 18px;
}

.containerButtons{
    width: 100%;
    display: none;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}
.containerButtons button{
    width: 50%;
    padding: 5px;
    border-radius: 8px;
    outline: none;
    border: none;

}  

.containerButtons button:nth-child(1){
    background-color: #fc9a9d;
    color: #ff292f;
    font-weight: 700;
    font-family: "Readex Pro", sans-serif;
}
.containerButtons button:nth-child(2){
    background-color: #6ff776;
    color: #036b09;
    font-weight: 700;
    font-family: "Readex Pro", sans-serif;
}

/* CATEGORY */
.work{
    width: 50px;
    height: 5px;
    background-color: #00ff9d;
}

.school{
    width: 50px;
    height: 5px;
    background-color: #c90505;
}

.lazer{
    width: 50px;
    height: 5px;
    background-color: #e8ff16;
}

.sport{
    width: 50px;
    height: 5px;
    background-color: #0051ff;
}